{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'mail:logout' %}">Log Out</a>

    <hr>

    <div id="reply-view"></div>

    <div id="emails-view">
    </div>

    <div id="display-email">
       <span class="email-info"> <p class="email-instance border border-light">From: </p></span>
       <span class="email-info"> <p class="border border-light">To: </p></span>
       <span class="email-info"> <p class="border border-light">Subject: </p></span>
       <span class="email-info"> <p class="border border-light">Date: </p></span>
       <p class="border border-dark"></p>

       <button id="archive-btn" type="button" class="btn btn-outline-dark "></button>
       <button id="reply-btn" type="button" class="btn btn-outline-light btn-success ">Reply Button</button>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                Subject: <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <div>
                <aside id="reply-container"></aside>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            </div>
                <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}